:root {
    --main-bg-color: #eaecee;
    --main-text-color: #052f3f;
    font-family: 'Segoe UI', 'Open Sans', 'Arial', sans-serif;
}

@font-face {
    font-family: "DeliciousHandrawn";
    src:
        url("fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf") format('truetype'),
}

@font-face {
    font-family: "Sacramento";
    src:
        url("fonts/Sacramento/Sacramento-Regular.ttf") format('truetype'),
}

body {
    background-color: var(--main-bg-color, white);
}

h1 {
    text-align: center;
    font-family: 'Sacramento', 'Segoe UI', 'Arial', sans-serif;
    font-size: 2.5em;
    color: #052f3f;
}

h2 {
    color: color-mix(in srgb, #052f3f 90%, var(--main-bg-color) 10%);
    font-family: "DeliciousHandrawn", 'Segoe UI', 'Arial', sans-serif;
    font-size: 1.5em;
}

h3 {
    color: var(--main-text-color, darkblue);
}

nav {
    background-color: color-mix(in srgb, #052f3f 70%, white 30%);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

nav li {
    padding: 1em;
    text-decoration: none;
}

nav li a {
    text-decoration: none;
    color: var(--main-bg-color, white);
    font-size: 1.25em;
}

nav li:hover {
    background-color: #1b2125;
    transition: all 1s ease-out;
}

#bio-block {
    margin: 2em;
    padding: 2em;
    border-radius: 5em;
    border-style: outset;
    border-color: var(--main-text-color);
    animation: example 5s linear 2s infinite alternate;
}

form {
    background-color: #afbec4;
    margin: 2vw;
    padding: 1.5dvh;
    border-radius: 1em;
}

button,
input,
select,
textarea {
    padding: 0.25em;
    font-family: inherit;
    font-size: 100%;
    border-radius: 0.5em;
}

legend {
    color: var(--main-text-color);
}

fieldset {
    border-radius: 1em;
    border-style: outset;
    border-color: var(--main-text-color);
}

table,
th,
td {
    border: 1px outset;
    border-radius: 0.25em;
    border-color: var(--main-text-color, black);
}

th {
    color: var(--main-text-color, black);
}

aside {
    border: outset;
    display: flex;
    float: right;
    transform: rotate(8deg);
    width: 30%;
    background-color: rgb(211, 214, 233);
    margin: 1em;
}

@media (max-width: 620px) {
    nav {
        display: inline-block;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0em;
    }

    textarea,
    input {
        width: 100%;
    }
}