html {
    background-color: #dfe1e3;
}

h1 {
    text-align: center;
    font-family: Georgia, serif;
}

nav {
    background-color: #c2cad0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

nav li {
    padding: 1em;
    text-decoration: none;
}

nav li a {
    text-decoration: none;
    color: #244855;
    font-size: 1.5em;
}

