:root {
    --main-bg-color: #eaecee;
    --main-text-color: #052f3f;
    font-family: 'Segoe UI', 'Open Sans', 'Arial', sans-serif;
    /* toggle vars */
    --bg-color-light: var(--main-bg-color);
    --text-color-dark:var(--main-bg-color);
    --bg-color-dark: #03151dee; 
}

@font-face {
    font-family: "DeliciousHandrawn";
    src:
        url("fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf") format('truetype'),
}

@font-face {
    font-family: "Sacramento";
    src:
        url("fonts/Sacramento/Sacramento-Regular.ttf") format('truetype'),
}

body {
    /* background-color: var(--main-bg-color, white); */
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: 'Sacramento', 'Segoe UI', 'Arial', sans-serif;
    font-size: 2.5em;
    color: #052f3f;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    color: color-mix(in srgb, #052f3f 90%, var(--main-bg-color) 10%);
    font-family: "DeliciousHandrawn", 'Segoe UI', 'Arial', sans-serif;
    font-size: 1.5em;
}

h3 {
    color: var(--main-text-color, darkblue);
}

nav {
    background-color: color-mix(in srgb, #052f3f 70%, white 30%);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0em;
}

nav ul li {
    padding: 1em;
    text-decoration: none;
    width: 100%;
    text-align: center;

    /* Nested css */
    &>a {
        text-decoration: none;
        color: var(--main-bg-color, white);
        font-size: 1.25em;
    }

    &:hover {
        background-color: #1b2125;
        transition: all 1s ease-out;
    }
}

ol li:has(h3) {
    h3 {
        text-shadow: color(display-p3 0.03 0.03 0.148 / 0.4) 1px 1px;
    }
}

bio-block {
    display: block;
    margin: 2em;
    padding: 2em;
    border-radius: 5em;
    border-style: outset;
    border-color: var(--main-text-color);
    animation: example 5s linear 2s infinite alternate;
}

dl {
    margin: 2em;
}

/* Scoped CSS */
@scope (figure) {
    img {
        border: 2px dotted black;
        background-color: blue;
        border-radius: 1rem;
    }

    figcaption {
        text-decoration: underline;
    }
}

#tools {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 2em;

    /* Nested css  */
    img {
        width: 3rem;
        border-radius: 2em;
        object-fit: fill;
    }
}

form {
    background-color: #afbec4;
    margin: 2vw;
    padding: 1.5dvh;
    border-radius: 1em;
}

button,
input,
select,
textarea {
    padding: 0.25em;
    font-family: inherit;
    font-size: 100%;
    border-radius: 0.5em;
}

legend {
    color: var(--main-text-color);
}

fieldset {
    border-radius: 1em;
    border-style: outset;
    border-color: var(--main-text-color);
}

table,
th,
td {
    border: 1px outset;
    border-radius: 0.25em;
    border-color: var(--main-text-color, black);
}

th {
    color: var(--main-text-color, black);
}

aside {
    border: outset;
    display: flex;
    float: right;
    transform: rotate(8deg);
    width: 30%;
    background-color: rgb(211, 214, 233);
    margin: 1em;
}

picture img {
    max-width: 35dvw;
    object-fit: contain;
    object-position: center;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

figure img {
    width: 40dvw;
}

#smiley {
    animation: changeColors 5s infinite;
}

@keyframes changeColors {
    0% {
        fill: pink;
    }

    25% {
        fill: plum;
    }

    50% {
        fill: lightgreen;
    }

    75% {
        fill: blueviolet;
    }

    100% {
        fill: pink;
    }
}

/* Image and form styling for mobile */
@media (max-width: 480px) {

    textarea,
    input {
        width: 95%;
    }

    figure>img {
        width: 90%;
    }
}

/* Set nav bar for both tablet and phone size */
@media (max-width: 628px) {
    nav {
        touch-action: none;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        padding: 0em;
        font-size: .8em;

        &li {
            margin: 0em;
            padding: 0em;
        }
    }
}

/* Image styling for tablet */
@media (max-width: 640px) {
    figure img {
        width: 95%;
    }
}

/* Styling for desktop */
@media screen and (min-width: 1280px) {
    img {
        width: 60dvw;
    }
}

#error {
    color: red;
    font-weight: bolder;
}

#info {
    color: darkslategrey;
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    align-content: center;
}

.req-star {
    color: red;
    font-weight: bolder;
}

#submit-button-container {
    display: flex;
    justify-content: center;
}

#submit-button {
    background-color: var(--main-bg-color);
    width: 10em;
    align-items: center;
    border-style: outset;
    border-color: var(--main-text-color);
}

#submit-button:hover {
    background-color: #a3a3a3;
}

#comment-length {
    font-size: small;
    margin-top: 0px;
}

.flash-indicator {
    animation: flash 1s;
}

@keyframes flash {
    0% {
        background-color: lightcoral;
    }

    100% {
        background-color: white;
    }
}

.text-limit {
    background-color: rgb(245, 214, 114);
}

.text-final {
    background-color: lightcoral;
}

/* html {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
} */

.switch {
    position: fixed;
    top: 10px;
    right: 10px;
    display: inline-block;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

input:checked + .slider {
    background-color:  color-mix(in srgb, #052f3f 70%, white 30%);;
}